/* Variables */
$jw-orange: #ff9b33;
$jw-blue: #00bfff;
$link-blue: #428bca;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: monospace;
}

/* Animations */
.view-animate.ng-enter {
  transition: opacity ease 1s;
}

.view-animate.ng-leave {
  transition: opacity step 0;
}

.view-animate.ng-enter,
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: $jw-blue;
  border-radius: 100%;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Custom page header */
hgroup {
  border-bottom: 2px solid black;
  margin-bottom: 5px;
  h1, h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
    span {
      display: block;
      font-weight: 200;
      font-size: 16px;
    }
  }
  h1 {
    padding-right: 0.5em;
  }
  h2 {
    padding-left: 0.5em;
  }
}

nav {
  ul {
    li {
      font-size: 20px;
      font-weight: 300;
      background-color: $jw-orange;
      min-width: 40%;
      a, a:link, a:visited, a:hover, a:active {
        background-color: lighten($jw-orange, 11);
        color: white;
      }
    }
    .active {
      a, a:link, a:visited, a:hover, a:active {
        background-color: darken($jw-orange, 11);
      }
    }
  }
}

.nav {
  li {
    a, a:link, a:visited, a:hover, a:active {
      background-color: lighten($jw-orange, 11);
    }
  }
}

/* Main content */
.main-content {
  color: #444;
}

/* Portfolio content */
.portfolio {
  .project-item {
    margin: 2em auto 3em;
    img {
      margin: 1em auto 2em !important;
      box-shadow: 8px 8px 24px 3px #666;
      &:last-child {
        margin-bottom: 1em;
      }
    }
    .in-development {
      border: 1px solid $jw-blue;
      padding: 4px;
      margin-top: 10px;
      color: $jw-blue;
    }
  }
  dt {
    font-size: 1.25em;
    &:first-child {
      font-size: 2.5em;
      text-decoration: underline;
    }
  }
  .tools-used {
    .list-inline {
      li {
        &:after {
          content: ',';
        }
        &:last-child {
          &:before {
            content: 'and ';
          }
          &:after {
            content: '';
          }
        }
      }
    }
  }
}

/* Custom page footer */
footer {
  padding-top: 20px;
  color: #777;
  ul {
    li {
      font-family: 'MediumIcons', 'Helvetica', 'Arial', 'sans-serif';
      .icon--logoM {
        font-style: normal;
        font-size: 2em;
        line-height: 0.8em;
        text-decoration: none;
        display: inline-block;
        vertical-align: bottom;
        &:before {
          content: '\e03e';
        }
      }
      span {
        display: block;
        font-family: monospace;
      }
    }
  }
}

/* Angular Bootstrap UI cursor fix to accommodate w/o empty href values */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  header,
  footer {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    hgroup {
      h1, h2 {
        font-size: 36px;
        span {
          font-size: 24px;
        }
      }
      h1 {
        padding-right: 1em;
      }
      h2 {
        padding-left: 1em;
      }
    }
  }

  nav {
    ul {
      li {
        /* font-size: 26px; */
        font-weight: 300;
        /* line-height: 2.5em; */
      }
    }
  }
}
