<section class="main-content">
  <h3>Hello world!</h3>

  <p>My name's Jeff and I'm a front-end web developer. I've been building websites as a hobby for nearly two decades but
    have only recently begun to utilize the more powerful technologies offered by the Web. I
    feel the Web is the most powerful tool our planet has ever possessed.</p>

  <p>I am also a cultural anthropologist capable of teasing out valuable information as to how users use the Web.
    Putting such information to use throughout the entire development process enables me to better understand what users
    expect and why.</p>

  <p>I'm a strong supporter of open-source efforts and can be found at <a href="https://github.com/jeffwesson"
      target="_blank">github.com/jeffwesson</a>.</p>

  <p>You can find any blatherings on code or the occasional baseball tweet at <a href="https://medium.com/@jeffwesson"
      target="_blank">medium.com/@jeffwesson</a> or <a href="https://twitter.com/jeffwesson"
      target="_blank">twitter.com/jeffwesson</a>.</p>

  <p>I network socially at <a href="https://google.com/+JeffWesson82"
      target="_blank">google.com/+JeffWesson82</a>, professionally at <a href="https://www.linkedin.com/in/jswesson"
      target="_blank">linkedin.com/in/jswesson</a>, or can be reached via email at <a
      href="mailto:jeff@jeffwesson.com">jeff@jeffwesson.com</a>.</p>

  <p>I encourage you to look through <a ng-href="#/portfolio">my portfolio</a> of recent web projects and to please
    contact me if you're interested in working together. I look forward to hearing from you.</p>
</section>
