.portfolio-item {
	margin: 2em auto 3em;
}

.portfolio-item img {
	margin: 1em auto 2em !important;
	box-shadow: 8px 8px 24px 3px #666;
	height: 100%;
	width: 100%;
}

.portfolio-item img:last-child {
	margin-bottom: 1em;
}

.dt {
	font-size: 1.25em;
	margin-top: 1em;
}

.dt:first-child {
	font-size: 1.75em;
	text-decoration: underline;
}

.dd {
	margin-left: 0;
}

.tools-used li:first-of-type {
	padding-left: 0;
}

.tools-used li:last-of-type {
	padding-right: 0;
}
